@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
body{
    margin: 0;
}
#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(circle at 100% 150%, rgb(121, 182, 121) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0 150%, rgb(121, 182, 121) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50% 100%, rgb(88, 117, 88) 71%, transparent 71%,   transparent),
    radial-gradient(circle at 100% 50%, rgb(121, 182, 121) 49%, transparent 50%,  transparent),
    radial-gradient(circle at 0 50%, rgb(121, 182, 121) 49%, transparent 50%, transparent);
    background-repeat: repeat;
    background-size: 50px 25px;
    z-index: 3;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxPreload.done{
    opacity: 0;
    visibility: hidden;
}
#loader.done{
    opacity: 0;
    visibility: hidden;
    height: 0;
}

    #logoGame{
       font-family: 'Oi', cursive;
       color: rgb(15, 97, 15);
       font-size: 50px;
       text-align: center;
       letter-spacing: 5px;
       text-shadow: 6px 2px 3px black;
    }  
    #boxPreload{
        width: 200px;
        height: 200px;
        position: relative;
        transition: 1s all;
        opacity: 1;
        visibility: visible; 
        margin: auto;
        animation: anim 2s infinite linear;
    }
        #boxPreload img{
            width: 200px;
            height: 200px;
        }
    @keyframes anim{
       from{
        transform: rotate(0deg);
       }
       to{
        transform: rotate(360deg);
       }
            
        
    }


    #cntue{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: 2s all;
    }
        #cntue div{
            width: 200px;
            height: 50px;
            border-radius: 20px;
            background-color:rgb(15, 97, 15);
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Oi', cursive;
            font-size: 20px;
            font-weight: bold;
        }
        #cntue div:hover{
            box-shadow: 2px 2px 10px black;
            cursor: pointer;
        }
        #cntue.close{
            opacity: 1;
            visibility: visible;
        }
        #cntue.done{
            display: none;
        }

        @media (max-width:800px){
            #logoGame{
                font-size: 30px;
             }  
             #boxPreload{
                width: 100px;
                height: 100px;
            }
                #boxPreload img{
                    width: 100px;
                    height: 100px;
                }
                #cntue div{
                    width: 150px;
                    height: 30px;
                    font-size: 15px;
                }
        }