html,body{
margin: 0;
padding: 0;
background-color: rgb(22, 73, 44);
}
#box{
display: flex;
justify-content: center;
height: 100%;
}
#game-over{
    width: 70%;
    border: 2px solid black;
    background-image:
    radial-gradient(circle at 100% 150%, rgb(121, 182, 121) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0 150%, rgb(121, 182, 121) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50% 100%, rgb(88, 117, 88) 71%, transparent 71%,   transparent),
    radial-gradient(circle at 100% 50%, rgb(121, 182, 121) 49%, transparent 50%,  transparent),
    radial-gradient(circle at 0 50%, rgb(121, 182, 121) 49%, transparent 50%, transparent);
    background-repeat: repeat;
    background-size: 50px 20px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: .5s all ease-in-out;
}
#game-over.done{
    /* display: block; */
    opacity: 1;
    visibility: visible;
}
#inner-game-over{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#button-exit{
 position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    
}
#button-exit:hover{
    transform: scale(1.1);
    opacity: 0.5;
    cursor: pointer;
}
#input-nik{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
    #input-nik input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
    }
    #input-nik input:focus,#input-nik input:hover{
        outline: none;
        box-shadow: 0 0 10px 0;
    }


    #logoGameOver{
        font-family: 'Oi', cursive;
        color: rgb(15, 97, 15);
        font-size: 40px;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 6px 2px 3px black;
     }  
     @media(max-width:800px){
        #logoGameOver{
            font-size: 45px;
         }  
     }
     @media(max-width:700px){
        #logoGameOver{
            font-size: 40px;
         }  
     }
     @media(max-width:600px){
        #logoGameOver{
            font-size: 30px;
         }  
     }
     @media(max-width:500px){
        #logoGameOver{
            font-size: 25px;
         }  
     }
     #box-buttons{
        display: flex;
        justify-content: center;
    }
     #button-record,#button-restart,#button-save{
        margin: 10px auto;
        text-align: center;
        font-size: large;
    }
        #button-record:hover,#button-restart:hover,#button-save:hover{
            cursor: pointer;
            transform: scale(1.2);
    
        }
       