#tableRec{
    width: 100%;
    position: absolute;
    opacity: 0;
    top: -1000px;
    visibility: hidden;
    z-index: 20;
    transition: all 0.5s ease-in-out;
}
#tableRec.done{
    opacity: 1;
    visibility: visible;
    top: 0;
}

#innertableRec{
    width: 60%;
    background-color: lightgrey;
    border-radius: 25px;
    opacity: 0.80;
    margin:0 auto;
    position: relative;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}
#closeTableRec{
    position: absolute;
    right: 10px;
    top: 10px;
}
#closeTableRec:hover{
    opacity: 0.8;
    transform: scale(1.1);
    cursor: pointer;
}
#records{
    width: 100%;
    padding-top: 50px;

}


